In [1]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [2]:
data= read_csv('D:\Assignment\Random Forest\Fraud_check.csv')

In [3]:
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [4]:
data['Undergrad'].replace(to_replace=['YES', 'NO'],value= ['0', '1'], inplace=True)
data['Urban'].replace(to_replace=['YES', 'NO'],value= ['0', '1'], inplace=True)
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,1,Single,68833,50047,10,0
1,0,Divorced,33700,134075,18,0
2,1,Married,36925,160205,30,0
3,0,Single,50190,193264,15,0
4,1,Married,81002,27533,28,1
...,...,...,...,...,...,...
595,0,Divorced,76340,39492,7,0
596,0,Divorced,69967,55369,2,0
597,1,Divorced,47334,154058,0,0
598,0,Married,98592,180083,17,1
599,1,Divorced,96519,158137,16,1

In [6]:
#Complete fraud check dataset
label_encoder = preprocessing.LabelEncoder()
data['Marital.Status']= label_encoder.fit_transform(data['Marital.Status'])

In [7]:
x=data.drop(columns=['Marital.Status'])

In [8]:
y=data['Marital.Status']

In [9]:
data['Marital.Status'].unique()

array([2, 0, 1], dtype=int64)

In [22]:
num_trees = 100
max_features = 4
kfold = KFold(n_splits=10)

In [21]:
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

0.34833333333333333

In [15]:
## Bagged Decision Trees for Classification
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
kfold = KFold(n_splits=10)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

0.3483333333333333